# Automation
automation/node_modules/

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.sso.py
.env

# Virtual environment
env/
venv/
ENV/

# Django stuff
db.sqlite3
media/
staticfiles/
migrations/
settings/

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

docs/

.env
*.env
a.env


