asgiref==3.11.1
beautifulsoup4==4.13.5
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.4
defusedxml==0.7.1
Django==5.2.6
django-csp==4.0
djangorestframework==3.16.1
et_xmlfile==2.0.0
idna==3.11
msal==1.35.1
numpy==2.4.2
oauthlib==3.3.1
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pillow==10.4.0
psycopg2-binary==2.9.10
pycparser==3.0
PyJWT==2.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python3-openid==3.2.0
pytz==2025.2
requests==2.32.5
requests-oauthlib==2.0.0
six==1.17.0
social-auth-app-django==5.7.0
social-auth-core==4.8.3
soupsieve==2.8
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
whitenoise==6.9.0
