{% if type_of_input == 'Recovery' %}
  <div class="d-inline-block px-3 fw-semibold text-center rounded-pill"
       style="border: 1px solid rgba(2, 62, 77, 0.4); background-color: rgba(2, 62, 77, 0.12); color: #023E4D; font-size: 12px; padding: 5px;">
    Recovery
  </div>
{% else %}
  <div class="d-inline-block px-3 fw-semibold text-center rounded-pill"
       style="border: 1px solid #9adeed; background-color: #d1edf3; color: #033b5d; font-size: 12px; padding: 5px;">
    Fresh
  </div>
{% endif %}
