<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
<add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\TT-Watch_tracker\env\Scripts\python.exe|D:\TT-Watch_tracker\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>
<appSettings>
    <add key="PYTHONPATH" value="D:\TT-Watch_tracker\watchcase_tracker" />
    <add key="WSGI_HANDLER" value="watchcase_tracker.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="watchcase_tracker.settings" />
</appSettings>
</configuration>